* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* .flex_box_model {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.upper_nav {
  width: 100%;
  height: 40px;
  background-color: rgb(36, 42, 53);
  color: rgb(221, 219, 219);
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.upper_nav .upper_nav_contacts{
    width: 70%;
    height: 100%;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.upper_nav .upper_nav_contacts .mail{
    display: flex;
}
.upper_nav .upper_nav_contacts .call_me{
    display: flex;
}
.upper_nav .upper_nav_contacts p{
    margin: 13px 0px;
}
.upper_nav .upper_nav_logo{
    width: 30%;
    text-align: right;
    padding: 0px 20px;
}
.upper_nav_icon{
    margin:13px;
}
