* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* .flex_box_model {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.upper_nav {
  width: 100%;
  height: 40px;
  background-color: rgb(36, 42, 53);
  color: rgb(221, 219, 219);
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.upper_nav .upper_nav_contacts {
  width: 70%;
  height: 100%;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.upper_nav .upper_nav_contacts .mail {
  display: flex;
}
.upper_nav .upper_nav_contacts .call_me {
  display: flex;
}
.upper_nav .upper_nav_contacts p {
  margin: 13px 0px;
}
.upper_nav .upper_nav_logo {
  width: 30%;
  text-align: right;
  padding: 0px 20px;
}
.upper_nav_icon {
  margin: 13px;
}

/* nav................... */
nav {
  height: 80px;
  background-color: rgb(248, 248, 248);
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .nav_logo {
  font-size: 2.2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: rgb(14, 168, 61);
  padding: 10px;
  cursor: pointer;
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .nav_links {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
}
nav .nav_links ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0px 170px 0px 370px;
}
nav .nav_links ul a {
  text-decoration: none;
  color: rgb(80, 79, 79);
  font-size: 0.9rem;
  font-weight: 600;
  font-family: sans-serif;
}
nav .nav_links ul a li {
  background-color: rgb(235, 236, 236);
  padding: 10px;
  margin: 20px 64px;
  border-radius: 20px;
}
nav .nav_links ul a li:hover {
  background-color: rgb(219, 219, 219);
  transition-duration: 0.3s;
}
nav .nav_icon {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  padding: 0px 60px;
}
nav .nav_icon .search {
  margin: 10px;
  padding: 10px;
  font-size: 1.3rem;
  color: rgb(53, 53, 53);
  cursor: pointer;
  position: relative;
}
nav .nav_icon .search p {
  position: absolute;
  font-size: 0.7rem;
  background-color: rgb(233, 233, 233);
  padding: 5px 7px;
  border-radius: 50px;
  margin-left: 15px;
  margin-top: -10px;
  font-weight: bold;
  font-family: sans-serif;
}
/* hero section................... */
.hero {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(162, 158, 158);
  background: radial-gradient(
    circle,
    rgb(192, 191, 191) 0%,
    rgba(242, 242, 242, 1) 100%
  );
}
.hero .hero_icon {
  margin: 20px;
  font-size: 2rem;
  font-weight: 900;
  color: green;
  opacity: 0.3;
  cursor: pointer;
}
.hero .hero_icon:hover {
  color: green;
  opacity: 0.6;
  transition-duration: 0.3s;
}
.hero .m_hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 0px 200px;
}
.hero .m_hero .m_hero_left {
  width: 60%;
  height: 100%;
}
.hero .m_hero .m_hero_left h1 {
  font-weight: 400;
  font-family: "Courier New", Courier, monospace;
  font-size: 2.3rem;
  line-height: 60px;
  color: rgb(82, 82, 82);
}
.hero .m_hero .m_hero_left h5 {
  font-family: sans-serif;
  font-size: 1.2rem;
  line-height: 40px;
  color: rgb(82, 82, 82);
}
.hero .m_hero .m_hero_left p {
  width: 500px;
  font-family: sans-serif;
  font-size: 0.9rem;
  line-height: 20px;
  color: rgb(109, 109, 109);
}
.hero .m_hero .m_hero_left p span {
  font-weight: 600;
  color: rgb(110, 110, 110);
}
.hero .m_hero .m_hero_right img {
  width: 400px;
  background: transparent;
}
/* shop................ */
.shop {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(248, 248, 248);
}
.shop .shop_top {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.shop .shop_top h1 {
  font-weight: 400;
  font-family: "Courier New", Courier, monospace;
  font-size: 2.3rem;
  line-height: 60px;
  color: rgb(82, 82, 82);
}
.shop .shop_top p {
  width: 500px;
  font-family: sans-serif;
  font-size: 0.9rem;
  line-height: 20px;
  color: rgb(109, 109, 109);
  text-align: center;
  line-height: 27px;
  width: 100%;
}
.shop .shop_bottom {
  width: 100%;
  height: 70%;
}
.shop .shop_bottom .content img {
  width: 100px;
}
.shop .shop_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
.shop .shop_bottom .content {
  height: 400px;
  width: 230px;
  margin: 0px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.shop .shop_bottom .content img {
  width: 230px;
  border-radius: 50%;
}
.shop .shop_bottom .content h6 {
  margin: 20px;
  font-family: sans-serif;
  font-size: 1rem;
}
.shop .shop_bottom .content button {
  width: 75px;
  height: 30px;
  color: rgb(233, 233, 233);
  background-color: rgb(4, 167, 4);
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
.shop .shop_bottom .content button:hover {
  transition-duration: .2s;
  background-color: rgb(8, 199, 8);
}
